## Diego McDonald - Homework \#2

In [1]:
import numpy as np
from astropy.table import QTable

#### The columns for the dataset 'MainBelt.csv' are:

* `Col 1: Asteroid Name and Number (string)`
* `Col 2: Asteroid Absolute Magnitude (float)`
* `Col 3: Asteroid Albedo (float)`

### Read in the datafile `MainBelt.csv`

In [2]:
T = QTable.read('MainBelt.csv',format = 'ascii.csv' )
T

<QTable length=2026>
       Name           H       A
      str34        float64 float64
------------------ ------- -------
           1 Ceres    3.34    0.09
          2 Pallas    4.13  0.1587
            3 Juno    5.33  0.2383
           4 Vesta     3.2  0.4228
         5 Astraea    6.85  0.2268
            6 Hebe    5.71  0.2679
            7 Iris    5.51  0.2766
           8 Flora    6.49  0.2426
           9 Metis    6.28   0.118
         10 Hygiea    5.43  0.0717
               ...     ...     ...
 25343 (1999 RA44)    14.2  0.0252
 25453 (1999 XU11)    12.5  0.0957
25699 (2000 AD127)    12.6  0.0346
 25785 (2000 CY45)    13.4  0.0238
 25843 (2000 EQ84)    13.3  0.0167
   26125 (1992 RG)    13.0  0.0975
  26171 (1996 BY2)    14.0   0.048
  26260 (1998 RA2)    13.3   0.067
 26604 (2000 FO25)    12.8  0.4331
26662 (2000 WB181)    14.5  0.0186

### Write a function to compute the Diameters of the MBAs

In [3]:
def diam(H,A):
    
    result = (1329 * (A ** (-1/2))) / (10 ** ((.2)*H))
    return result

DiamResult = diam(T['H'],T['A'])
DiamResult
T['Diam'] = DiamResult
T

<QTable length=2026>
       Name           H       A         Diam
      str34        float64 float64    float64
------------------ ------- ------- -------------
           1 Ceres    3.34    0.09  951.48890004
          2 Pallas    4.13  0.1587 498.008227327
            3 Juno    5.33  0.2383 233.863777175
           4 Vesta     3.2  0.4228  468.22811936
         5 Astraea    6.85  0.2268 119.042888397
            6 Hebe    5.71  0.2679 185.156355637
            7 Iris    5.51  0.2766 199.801568415
           8 Flora    6.49  0.2426 135.856237475
           9 Metis    6.28   0.118 214.577399298
         10 Hygiea    5.43  0.0717 407.160278834
               ...     ...     ...           ...
 25343 (1999 RA44)    14.2  0.0252 12.1010961189
 25453 (1999 XU11)    12.5  0.0957 13.5852930807
25699 (2000 AD127)    12.6  0.0346 21.5767948095
 25785 (2000 CY45)    13.4  0.0238 17.9985078753
 25843 (2000 EQ84)    13.3  0.0167  22.499182858
   26125 (1992 RG)    13.0  0.0975 10.6911069254
  26171 (1996 BY2)    14.0   0.048 9.61400541168
  26260 (1998 RA2)    13.3   0.067 11.2327884451
 26604 (2000 FO25)    12.8  0.4331 5.56199877757
26662 (2000 WB181)    14.5  0.0186 12.2678514589

### Write a function to compute the Masses of the MBAs. Assume $\rho$ = 3,000 kg/m$^3$

In [8]:
def mass(D):
    result = (D**3) * (np.pi) * (1/6) * (3000 * 1000)
    return result
MassResult = mass(DiamResult)
MassResult
T['Mass'] = MassResult
T['Name','Mass']

<QTable length=2026>
       Name               Mass
      str34             float64
------------------ -----------------
           1 Ceres 1.35310361929e+15
          2 Pallas 1.94012373935e+14
            3 Juno 2.00913332078e+13
           4 Vesta 1.61247263082e+14
         5 Astraea 2.64990463339e+12
            6 Hebe 9.97093188502e+12
            7 Iris 1.25290042397e+13
           8 Flora  3.9387518944e+12
           9 Metis 1.55192885808e+13
         10 Hygiea 1.06026905519e+14
               ...               ...
 25343 (1999 RA44)     2783517837.26
 25453 (1999 XU11)     3938464300.08
25699 (2000 AD127)     15779043435.5
 25785 (2000 CY45)     9158606169.74
 25843 (2000 EQ84)     17890402568.4
   26125 (1992 RG)     1919499027.01
  26171 (1996 BY2)      1395831400.0
  26260 (1998 RA2)     2226294512.35
 26604 (2000 FO25)     270279149.888
26662 (2000 WB181)      2900183006.8

### List the names of the 5 most massive MBAs

In [28]:
T.sort(['Mass'])
mask1 = np.where(T['Mass'] > (5 * (10 ** 13)))
T[mask1]

<QTable length=5>
        Name            H       A         Diam            Mass
       str34         float64 float64    float64         float64
-------------------- ------- ------- ------------- -----------------
511 Davida (1903 LU)    6.22   0.054 326.082957299 5.44633285767e+13
           10 Hygiea    5.43  0.0717 407.160278834 1.06026905519e+14
             4 Vesta     3.2  0.4228  468.22811936 1.61247263082e+14
            2 Pallas    4.13  0.1587 498.008227327 1.94012373935e+14
             1 Ceres    3.34    0.09  951.48890004 1.35310361929e+15

### List the names of the 5 least massive MBAs

In [22]:
T.sort(['Mass'])
mask2 = np.where(T['Mass'] < (4 * (10 ** 8)))
T[mask2]

<QTable length=5>
          Name             H       A         Diam          Mass
         str34          float64 float64    float64       float64
----------------------- ------- ------- ------------- -------------
      26604 (2000 FO25)    12.8  0.4331 5.56199877757 270279149.888
 4335 Verona (1983 VC7)    13.3  0.2418 5.91284960423 324720999.492
3338 Richter (1973 UX5)    14.2     0.1 6.07470203998 352123345.867
  4121 Carlin (1986 JH)    12.6  0.4164 6.21970262106 377945116.924
6295 Schmoll (1988 CF3)    14.0  0.1114  6.3107704824 394790809.145

### Determine the total mass of all of the MBAs

In [32]:
x = T['Mass']
x.sum ()
T_M = x.sum ()
print (T_M)

3.14617762545e+15

### Determine the fraction of the total mass contained in the 5 largest MBAs

In [45]:
LM = T[mask1]
LMt = LM['Mass']
frac = (LMt.sum()) / (T_M)
print (frac)

0.59400762223

### How does the total mass of the MBAs compare to the mass of the Moon ($7.35\ \times\ 10^{22}$ kg)?

In [53]:
M_moon = (7.35 * (10 ** 22))
Moon_frac = (M_moon)/(T_M) 
Moon_frac

23361681.61816702

### How many MBAs does it take to get 90% of the total mass of the MBAs (start from the most massive)

In [61]:
x = T['Mass']
T_M = x.sum()
T_Mcumperc = (x.cumsum() / x.sum())
mask3 = np.where ((T_Mcumperc >= .1) & (T_Mcumperc <= 1))
T_Mcumperc[mask3] = 1 
y = T_Mcumperc[mask3]
y.sum()

149.0

### Due Wed Jan 19 - 5pm
- `cp FirstLast_HW2.ipynb ~pikaia/HOMEWORK/`
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`

***

## Absolute Magnitude, Size and Mass

The absolute magnitude **H** of a solar system object is the magnitude that it would have if it was 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. Remember, astronomical magnitudes are "backwards".  The magnitude of a bright object is *less* than the magnitude of a dimmer object.

The phase angle **$\theta$** in astronomical observations is the angle between the light incident onto an observed object and the light reflected from the object. In the context of astronomical observations, this is usually the angle $\angle$ Sun-object-observer.

![Phase Angle](images/Phase.jpg)

It is actually impossible for an object to be 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. The Sun and the Earth would occupy the same point.  However, this is the definition of **H**.  Please note, that the definition of absolute magnitude for solar system objects is *very* different from the definition of absolute magnitude used for stars.

The Absolute magnitude of an object is related to the physical size of the object via the equation:

$$\large D = \frac{1329}{\sqrt{A}}\  10^{-0.2H}$$

Where **D** is the diameter of the object in kilometers and **A** is the geometric albedo of the object. 

The geometric albedo **A** of an astronomical body is the ratio of its actual brightness at zero phase angle (i.e., as seen from the light source) to that of an idealized flat, fully reflecting, diffusively scattering disk with the same cross-section.

Perfect reflectors of light have A = 1 and perfect absorbers have **A** = 0. Typical asteroids have a wide range of values: 0.02 $<$ A $<$ 0.8.

Once we have the diameter of the object, we can determine the mass if we know the density ($\rho$).

$ \large \mathrm{Mass} = \rho \cdot \mathrm{Volume} = \rho \cdot \frac{4}{3} \pi r^3 \ = \ \rho \cdot \frac{1}{6} \pi D^3 $

This assumes that the object is spherical (this is **not** a very good assumption for asteroids).